<%- include('../partials/head'); %>

<body>
  <%- include('../partials/header'); %>

    <section class="product-card">
        <a href="#">
          <figure class="product-card-img">
            <img class="shop-item-image" src="/images/productsImg/imagen_muestra_5.jpg" alt="imagen de producto">
          </figure>
          <article class="product-card-content">
            <h4>categoria</h4>
            <h2 class="shop-item-title">nombre de prueba</h2>
            
            <h3 class="shop-item-price" id="price">$99,99</h3>
            <h3 id="discount">20% OFF</h3>
          
            <p>descripcion de prueba</p>
          </article>
          <button class="btn btn-primary shop-item-button" type="button">Añadir al carro</button>
        </a>
      </section>

    <section class="product-card">
        <a href="#">
          <figure class="product-card-img">
            <img class="shop-item-image" src="/images/productsImg/imagen_muestra_2.jpg" alt="imagen de producto">
          </figure>
          <article class="product-card-content">
            <h4>accesorio</h4>
            <h2 class="shop-item-title">nombre del producto 2</h2>
            
            <h3 class="shop-item-price" id="price">$27,99</h3>
            <h3 id="discount">5% OFF</h3>
          
            <p>descripcion de prueba caracteristicas random producto</p>
          </article>
          <button class="btn btn-primary shop-item-button" type="button">Añadir al carro</button>
        </a>
      </section>

<!-- CARRO DE COMPRAS -->

  <section class="container content-section">
    <h2 class="section-header">Carro de compras</h2>
      <div class="cart-row">
        <div class="cart-item cart-header cart-column">Producto</div>
        <div class="cart-price cart-header cart-column">Precio unitario</div>
        <div class="cart-quantity cart-header cart-column">Cantidad</div>
      </div>
      <div class="cart-items">
      </div>
  </section>

  <div class="col-sm-3 offset-sm-7 ">
      <div class="checkout">
        <div class="cart-total">
          <strong class="cart-total-title">Total</strong>
          <div class="cart-total-price">$0</div>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">Finalizar Compra</button>
      </div>
  </div>

<!-- BANNERINFO -->

  <%- include('../partials/bannerInfo'); %>

  <h2 class="products-title">Otros productos que podrían interesarte</h2>
  <div class="products-wrapper">
      
        <!-- Show the "visited" products -->
          <% for( let index = 0; index < products.length; index++ ) { %>
          <% if (products[index].status=="available") { %>
      
        <section class="product-card">
          <a href="/products/<%=products[index].id%>">
            <figure class="product-card-img">
              <img src="/images/productsImg/<%=products[index].image%> " alt="imagen de producto">
            </figure>
            <article class="product-card-content">
              <h4><%=products[index].category%></h4>
              <h2><%=products[index].name%></h2>
              
                <h3 id="price">$<%=products[index].price%></h3>
                <h3 id="discount">%<%=products[index].discount%> OFF</h3>
            
              <p><%=products[index].subTitle%></p>
            </article>
          </a>
        </section>
     
  
      <% } %>
  <% } %>
</div>
    
<!-- FOOTER -->

  <%- include('../partials/footer'); %>
  <script src="/js/cart.js" type="text/javascript">    </script>
</body>
</html>