<%- include('../partials/head'); %>

<body>
  <%- include('../partials/header'); %>

  <!-- CARRO DE COMPRAS -->
  <section class="container content-section">
    <h2 class="section-header">Carro de compras</h2>
      <div class="cart-row">
        <div class="cart-item cart-header cart-column">Producto</div>
        <div class="cart-price cart-header cart-column">Precio unitario</div>
        <div class="cart-quantity cart-header cart-column">Cantidad</div>
      </div>
      <div class="cart-items">
      </div>
  </section>

  <div class="col-sm-3 offset-sm-7 ">
      <div class="checkout">
        <div class="cart-total">
          <strong class="cart-total-title">Total</strong>
          <div class="cart-total-price">$0</div>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">Finalizar Compra</button>
      </div>
  </div>

<!-- BANNERINFO -->

  <%- include('../partials/bannerInfo'); %>

  <h2 class="products-title">Otros productos que podrían interesarte</h2>
  <div class="products-wrapper">
    <% for( let i = 0; i < products.length; i++ ) { %>
      <% if (products[i].status=="1") { %>

        <section class="product-card">
          <a href="/products/<%=products[i].id%>">
            <figure class="product-card-img">
              <img class="shop-item-image" src="/images/productsImg/<%=products[i].images[0].image_url%> " alt="imagen de producto">
            </figure>
            <article class="product-card-content">
                  <!-- en proceso mostrar categoria del producto -->
              <h4> <%=products[i].category_id %> </h4>
              
              <h2 class="shop-item-title"><%=products[i].name%></h2>
                  
              <h3 class="shop-item-price" id="price">$<%=products[i].price%></h3>
              <% if(products[i].discount>0){ %> 
                <h3 id="discount"><%=products[i].discount%>% OFF</h3>
              <% } %> 
              <p class="text-center"><%=products[i].description%></p>
            </article>
          </a>
          <div class="btn-container d-flex justify-content-center">
            <button class="btn btn-primary shop-item-button" type="button">Añadir al carro</button>
          </div>
        </section>
        
      <% } %>
    <% } %>
  </div>
    
<!-- FOOTER -->

  <%- include('../partials/footer'); %>
  <script src="/js/cart.js" type="text/javascript">    </script>
</body>
</html>