<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>

    <form action="/products/create" method="POST" autocomplete="off" enctype="multipart/form-data" class="m-auto col-md-7">
        <section class="productForm">

            <div class="input">
                <h4 id="NuevoArticulo">Nuevo Artículo</h4>
            </div>

            <div class="input">
                <input type="file" name="image_url" class="form-control m-auto" id="image_url" multiple>
            </div>
            <% if (locals.errors && errors.image_url) {%> 
                <div class= "errorsStyles"><%=errors.image_url.msg %> </div>
            <% } %>
            
            <div class="input">
                <input type="text" id="name" name="name" placeholder="Título" value="<%=locals.oldData && oldData.name %>">
            </div>         
            <% if (locals.errors && errors.name) {%> 
                <div class= "errorsStyles"><%=errors.name.msg %> </div>
            <% } %>

            <div class="input">
                <input type="text" name="price" placeholder="Precio" value="<%=locals.oldData && oldData.price %>">
            </div>
            <% if (locals.errors && errors.price) {%> 
                <div class= "errorsStyles"><%=errors.price.msg %> </div>
            <% } %>
            
            <div class="input">
                <select id="category" name="category_id">
                    <option value="1">Remeras</option>
                    <option value="2">Buzos</option>
                    <option value="3">Accesorios</option>
                </select>
            </div>

            <div class="container">
                <div class="row justify-content-around" >
                    <%talles.forEach(talle => { %>
                        <div class="col-4 text-center" >
                            <label> <%=talle.size_name %> </label>
                            <input class= "col-6" type="checkbox" id="size" name="size" value="<%=talle.id %>" multiple>
                            <input class= "w-50" for="size" type="number" name="quantity[]" value="0">
                            </div>
                    <% }) %>
                </div>
            </div>
            
            <div class="input">
                <textarea name="description" rows="2" cols="10" placeholder="Descripción breve"><%=locals.oldData && oldData.description %></textarea>
            </div>
            <% if (locals.errors && errors.description) {%> 
                <div class= "errorsStyles"><%=errors.description.msg %> </div>
            <% } %>

            <div class="input">
                <textarea name="full_description" rows="5" cols="10" placeholder="Descripción detalla / caracteristicas"></textarea>
            </div>

            <div class="input">
                <input type="number" id="discount" name="discount" placeholder="Ingrese % de descuento" value="<%=locals.oldData && oldData.discount %>"><br>
            </div>
            <% if (locals.errors && errors.discount) {%> 
                <div class= "errorsStyles"><%=errors.discount.msg %> </div>
            <% } %>

            <div class="input">
                <select id="condition" name="condition_id">
                    <option value="1">Sale</option>
                    <option value="2">Nuevo lanzamiento</option>
                    <option value="3" selected >Disponible</option>
                </select>
            </div>

            <div class="input">
                <select id="status" name="status">
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
            
        </section>
    
        <section class="productFormPie">
            <div class="botonesPie">
                <button class="buttonCargar" type="submit">Cargar</button>
                <button class="buttonBorrar" type="reset">Borrar</button>
            </div>
        </section>
    </form>

    <%- include('../partials/footer'); %>
    
</body>
</html>
    

    