<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>

    <form action="/products/create" method="POST" autocomplete="off" enctype="multipart/form-data" class="formCreate">
        <section class="productForm">
        
            <div class="input">
                <h4 id="NuevoArticulo">Nuevo Artículo</h4>
            </div>
            
            <div class="input">
                <input type="text" id="name" name="name" placeholder="Título" value="<%=locals.oldData && oldData.name %>">
            </div> 
                <div class= "errorsStyles">
                    <ul id="errorsListName">
          
                    </ul> 
                </div>      
            <% if (locals.errors && errors.name) {%> 
                <div class= "errorsStyles"><%=errors.name.msg %> </div>
            <% } %>

            <h4 id="selectImage">Seleccioná las imágenes</h4>

            <div class="inputImage">
                
                <input type="file" name="image_url" id="image_url" class="form-control m-auto" multiple>
                <input type="file" name="image_url" id="image_url" class="form-control m-auto" multiple>
                <input type="file" name="image_url" id="image_url" class="form-control m-auto" multiple>
                <input type="file" name="image_url" id="image_url" class="form-control m-auto" multiple>
            </div>
                <div class= "errorsStyles">
                    <ul id="errorsListImage">
          
                    </ul>
                </div>
            <% if (locals.errors && errors.image_url) {%> 
                <div class= "errorsStyles"><%=errors.image_url.msg %> </div>
            <% } %>

            <div class="input">
                <input type="text" name="price" placeholder="Precio" value="<%=locals.oldData && oldData.price %>">
            </div>
            
            <% if (locals.errors && errors.price) {%> 
                <div class= "errorsStyles"><%=errors.price.msg %> </div>
            <% } %>
            
            <div class="input">
                <select id="category" name="category_id">
                    <option value="" selected disabled>Seleccionar categoria</option>
                    <%categorias.forEach(categoria => { %>
                    <option value="<%=categoria.id%>" <%=(locals.oldData && categoria.id == oldData.category_id)? "selected" : null %>><%=categoria.category_name%> </option>
                    <% }) %> 
                </select>
            </div>
            
            <div class="dropdownSelect">
                <div class="dropbtnSelect">
                    <div class="input">
                        Seleccioná Talle y Cantidad
                    </div>
                </div>
                
                <div class="dropdownContentSelect">                
                    <%talles.forEach(talle => { %>
                       <div id="eachSize">
                            <label><h4 id="idSizeText">Talle <%=talle.size_name %></h4></label>
                            <input type="checkbox" id="size" name="size" value="<%=talle.id %>" multiple>
                            <input id= "idSize" for="size" type="number" name="quantity[]" value="0">
                        </div>
                    <% }) %>
                </div>
            </div>


            <div class="input">
                <textarea name="description" id="description" rows="2" cols="10" placeholder="Descripción breve"><%=locals.oldData && oldData.description %></textarea>
            </div>
                <div class= "errorsStyles">
                    <ul id="errorsListDescription">
          
                    </ul>
                </div>
            <% if (locals.errors && errors.description) {%> 
                <div class= "errorsStyles"><%=errors.description.msg %> </div>
            <% } %>

            <div class="input">
                <textarea name="full_description" id="fullDescription" rows="5" cols="10" placeholder="Descripción detalla / caracteristicas"></textarea>
            </div>
                <div class= "errorsStyles">
                    <ul id="errorsListFullDescription">
          
                    </ul>
                </div>
            <div class="input">
                <input type="number"  min="0" max="100" name="discount" placeholder="Ingrese % de descuento" value="<%=locals.oldData && oldData.discount %>"><br>
            </div>
            <% if (locals.errors && errors.discount) {%> 
                <div class= "errorsStyles"><%=errors.discount.msg %> </div>
            <% } %>

            <div class="input">
                <select id="condition" name="condition_id">
                    <option value="" selected disabled>Seleccionar condición</option>
                    <%condiciones.forEach(condicion => { %>
                        <option value="<%=condicion.id%>" <%=(locals.oldData && condicion.id == oldData.condition_id)? "selected" : null %>><%=condicion.condition_name%></option>
                    <% }) %> 
                </select>
            </div>
            <% if (locals.errors && errors.condition_id) {%> 
                <div class= "errorsStyles"><%=errors.condition_id.msg %> </div>
            <% } %>

            <div class="input">
                <select id="status" name="status">
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
            
            <div class="productFormPie">
                <button class="buttonCargar" type="submit">Cargar</button>
                <button class="buttonBorrar" type="reset">Borrar</button>
            </div>

        </section>
        
    </form>

</br>

        <%- include('../partials/footer'); %>
    <script src="/js/validationCreateFront.js" type="text/javascript"></script>
</body>
</html>
    

    