<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>
    
    <%- include('../partials/searchField'); %>
    <section class="centroA">
        <div class="imgProductoPrincipal"><img src="/images/productsImg/<%=productFound.images[0].image_url%>" alt=""></div>
        <div class="bloqueImgAlternativas">
            <% for( let i = 0; i < productFound.images.length; i++ ) { %>
            <div id="imgAlt"><img src="/images/productsImg/<%=productFound.images[i].image_url%>" alt=""></div>
            <% } %>
        </div>
        <div class="Columna">
            <div>
                <h4 id="Titulo"><%=productFound.name%></h4>
                <h4 id="Precio">$ <%=productFound.price%></h4>
            </div>
            <div>
                <h4 id="Subtitulo"><%=productFound.description%></h4>
            </div>
            <div class="t1">
                <h4 id="Destacado">Producto con  <%=productFound.discount%>% de Descuento</h4>
                <i id="iconoEtiqueta" class="fas fa-tags"></i>
            </div>
            <div class="valoracion">
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
            </div>
            <div>
                <p id="Detalle">
                    <%=productFound.full_description%>
                </p>
            </div>
            <div>
                <form id="talles" action="#talle">
                    <% console.log(productFound.sizes) %>
                    <select id="talles" name="talles">
                    <%productFound.sizes.forEach(talle => { %> 
                        <option value="<%=talle.talle_id %>"><%=talle.talle_name %></option>
                        <% }) %> 
                        <input type="number" name="" id="" min="1" max="3"><!-- establecer el maximo segun talle seleccionado -->
                    </select>
                </form>
            </div>
            <div class="t1">
                <button id="buttonSubmit" type="button">Añadir al Carrito</button>
                <button id="heartIcon" type="button" onclick="alert('Gracias por tu like!')" class="far fa-heart"></button>
            </div>
            <div>
                <button id="buttonverGuiaDeTalles">VER GUÍA DE TALLES</button>
            </div>
            
            <% if (locals.userLogged && userLogged.is_admin) { %>
            <div class="d-flex align-self-center mt-2">
                <form action="/products/edit/<%=productFound.id%>">
                    <button id="buttonSubmit" type="submit">Editar Producto</button>
                </form>
            
                <form action="/products/<%=productFound.id%>?_method=DELETE" method="POST">
                    <button id="buttonSubmit" type="submit">Eliminar Producto</button>
                </form>
            </div>
            <% } %>
        </div>
    </section>
        
    
    <%- include('../partials/bannerInfo'); %>

    <h2 class="products-title">Si buscabas <%=productFound.name%> también podrían interesarte estos productos</h2>
    <div class="products-wrapper">
      
        <!-- MUESTRA SEGERENCIA DE PRODUCTOS DE LA MISMA CATEGORIA -->
          <% for( let index = 0; index < products.length; index++ ) { %>
          <% if (products[index].category==productFound.category) { %>
      
        <section class="product-card">
          <a href="/products/<%=products[index].id%>">
            <figure class="product-card-img">
              <img src="/images/productsImg/<%=products[index].images[0].image_url%> " alt="imagen de producto">
            </figure>
            <article class="product-card-content">
              <h4><%=products[index].category%></h4>
              <h2><%=products[index].name%></h2>
              
                <h3 id="price">$<%=products[index].price%></h3>
                <h3 id="discount">%<%=products[index].discount%> OFF</h3>
            
              <p><%=products[index].description%></p>
            </article>
          </a>
        </section>
     
  
      <% } %>
  <% } %>
</div>

    <%- include('../partials/categoryBanner'); %>

    <%- include('../partials/footer'); %>
</body>
</html>