<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>

  <link rel="stylesheet" href="<%=stylesheet%> ">
  
<div class="slideshow-container">

    <div class="mySlides">
      <div class="numbertext">1 / 3</div>
      <img src="images/imagen_slider_1.jpg">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">2 / 3</div>
      <img src="images/imagen_slider_2.jpg">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">3 / 3</div>
      <img src="images/imagen_slider_3.jpg">
    </div>
  
    <a class="prev" onclick="plusSlides(-1)"><i class="fas fa-angle-left"></i></a>
    <a class="next" onclick="plusSlides(1)"><i class="fas fa-angle-right"></i></a>
  </div>
  
  <div class="dotSelect">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
        }
    </script>
  <!-- Mostrar las categorías destacadas -->
  <div class="category-wrapper">
<%- include('../partials/bannerInfo'); %>
<% for( let index = 0; index <= 2; index++ ) { %>
    <section class="randomCategory">
        <img src="/images/productsImg/<%=products[index].image%> " alt="imagen de producto">
    </section>
    <% } %>
  </div>

    <h2 class="products-title">Nuevos Productos</h2>
    <div class="products-wrapper">
      
          <!-- Show the "visited" products -->
			<% for( let index = 0; index < products.length; index++ ) { %>
			<% if (products[index].novedad=="Si") { %>
        
          <section class="product-card">
            <a href="/products/<%=products[index].id%>">
              <figure class="product-card-img">
                <img src="/images/productsImg/<%=products[index].image%> " alt="imagen de producto">
              </figure>
              <article class="product-card-content">
                <h4><%=products[index].category%></h4>
                <h2><%=products[index].name%></h2>
                
                  <h3 id="price">$<%=products[index].price%></h3>
                  <h3 id="discount">%<%=products[index].discount%> OFF</h3>
              
                <p><%=products[index].description%></p>
              </article>
            </a>
          </section>
       
    
        <% } %>
    <% } %>
  </div>
</div>

<!-- Mostrar las categorías en oferta -->
<div class="category-wrapper">
  <%- include('../partials/bannerInfo'); %>
  <% for( let index = 0; index <= 2; index++ ) { %>
      <section class="randomCategory">
          <img src="/images/<%=products[index].image%> " alt="imagen de producto">
      </section>
      <% } %>
    </div>
    
    <%- include('../partials/footer'); %>
    
</body>
</html>