<%- include('../partials/head'); %>

<body>
  <%- include('../partials/header'); %>
      <section class="barraBusqueda">        
        <form action="/products/search" method="GET">
            <input id="searchInput" type="text" name="keywords" placeholder="Buscar" size="40">
            <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
        </form>
    </section>

  <h2 class="products-title">Todos los productos</h2>
    <div class="products-wrapper">
			<% for( let index = 0; index < products.length; index++ ) { %>
			        
          <section class="product-card">
            <a href="/products/<%=products[index].id%>">
              <figure class="product-card-img">
                <img src="/images/productsImg/<%=products[index].images[0].image_url%> " alt="imagen de producto">
              </figure>
              <article class="product-card-content">
                <!-- en proceso mostrar categoria del producto -->
                <h4> <%=products[index].category_id %> </h4>

                <h2 class="text-center"><%=products[index].name%></h2>
                
                <h3 id="price">$<%=products[index].price%></h3>
                  <% if(products[index].discount>0){ %> 
                    <h3 id="discount"><%=products[index].discount%>% OFF</h3>
                  <% } %> 
              
                <p class="text-center"><%=products[index].description%></p>
                </a>
                <div class="btn-container d-flex justify-content-center">
                  <button class="btn btn-primary shop-item-button" type="button">Añadir al carro</button>
                </div>
              </article>
          </section>
    <% } %>
  </div>
</div>
<script src="/js/cart.js" type="text/javascript">    </script>
<!-- BANNERINFO -->

  <%- include('../partials/bannerInfo'); %>
  <script src="/js/cart.js" type="text/javascript">    </script>

<!-- FOOTER -->

  <%- include('../partials/footer'); %>
</body>
</html>