<%- include('../partials/head', {title: productFound.name}); %>

<body>
    <%- include('../partials/header'); %>
    

    <section class="barraBusqueda">        
        <form action="/procesoDeInformacion" method="POST">
            <input id="searchInput" type="search" name="busqueda" placeholder="Buscar" size="40">
        </form>
    </section>

    <% if (locals.userLogged && userLogged.category=="admin") { %>
    <span>
         
        <a href="/products/edit/<%=productFound.id%>">Editar Producto</a>
    </span>
    <% } %>

    <section class="centroA">
        <div class="imgProductoPrincipal"><img src="/images/<%=productFound.image%>" alt=""></div>
        <div class="bloqueImgAlternativas">
            <div id="imgAlt"><img src="/images/<%=productFound.image%>" alt=""></div>
            <div id="imgAlt"><img src="/images/<%=productFound.image%>" alt=""></div>
            <div id="imgAlt"><img src="/images/<%=productFound.image%>" alt=""></div>
        </div>
        <div class="Columna">
            <div>
                <h4 id="Titulo"><%=productFound.name%></h4>
                <h4 id="Precio">$ <%=productFound.price%></h4>
            </div>
            <div>
                <h4 id="Subtitulo">Subtítulo del Producto</h4>
            </div>
            <div class="t1">
                <h4 id="Destacado">Producto con  <%=productFound.discount%>% de Descuento</h4>
                <i id="iconoEtiqueta" class="fas fa-tags"></i>
            </div>
            <div class="valoracion">
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
                <button id="stars" onclick="alert('Gracias por valorar este producto!')" type="button" onclick="alert('Gracias por valorar este producto!')" class="far fa-star"></button>
            </div>
            <div>
                <p id="Detalle">
                    <%=productFound.description%>
                </p>
                <p id="Detalle">
                    <%=productFound.fullDescription%>
                </p>
            </div>
            <div>
                <form id="talles" action="#talle">
                    <select id="talles" name="talles">
                        <option value="null">Elegí tu talle</option>
                        <option value="XS">XS Extra Small</option>
                        <option value="S ">S Small</option>
                        <option value="M">M Medium</option>
                        <option value="L">L Large</option>
                        <option value="XL">XL Extra Large</option>
                    </select>
                </form>
            </div>
            <div class="t1">
                <button id="buttonSubmit" type="button">Añadir al Carrito</button>
                <button id="heartIcon" type="button" onclick="alert('Gracias por tu like!')" class="far fa-heart"></button>
            </div>
            <div>
                <button id="buttonverGuiaDeTalles">VER GUÍA DE TALLES</button>
            </div>
        </div>
    </section>
    
    <%- include('../partials/bannerInfo'); %>

    <%- include('../partials/footer'); %>
</body>
</html>