<%- include('../partials/head'); %>

<body>
  <%- include('../partials/header'); %>

  <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos los productos</h2>
			</div>
			<!-- Show the "visited" products -->
			<% for( let index = 0; index < products.length; index++ ) { %>
			
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-card">
							<a href="/products/detail/<%=products[index].id%>">
								<figure class="product-card-img">
									<img src="/images/<%=products[index].image%> " alt="imagen de producto">
								</figure>
								<article class="product-card-content">
									<h2>$<%=products[index].price%></h2>
									<span><%=products[index].discount%> </span>
									<h2><%=products[index].name%></h2>
									<p><%=products[index].description%></p>
								</article>
							</a>
						</section>
					</div>
			<% } %>
		</div>
	</div>
    <%- include('../partials/footer'); %>
</body>
</html>