<%- include('../partials/head'); %>

<body>
  <%- include('../partials/header'); %>

  <h2 class="products-title">Todos los productos</h2>
    <div class="products-wrapper">
      
          <!-- Show the "visited" products -->
			<% for( let index = 0; index < products.length; index++ ) { %>
			        
          <section class="product-card">
            <a href="/products/<%=products[index].id%>">
              <figure class="product-card-img">
                <img src="/images/productsImg/<%=products[index].image%> " alt="imagen de producto">
              </figure>
              <article class="product-card-content">
                <h4><%=products[index].category%></h4>
                <h2><%=products[index].name%></h2>
                
                  <h3 id="price">$<%=products[index].price%></h3>
                  <h3 id="discount">%<%=products[index].discount%> OFF</h3>
              
                <p><%=products[index].description%></p>
              </article>
            </a>
          </section>
    <% } %>
  </div>
</div>

<!-- BANNERINFO -->

  <%- include('../partials/bannerInfo'); %>

<!-- FOOTER -->

  <%- include('../partials/footer'); %>
</body>
</html>