<%- include('../partials/head'); %>

<body>
  <%- include('../partials/header'); %>

  <h2 class="products-title">Resultados de la búsqueda: <%=keywords%></h2>
    <div class="products-wrapper">
      
          <!-- Show the search results -->
        <% searchResults.forEach(result => { %>
			        
          <section class="product-card">
            <a href="/products/<%=result.id%>">
              <figure class="product-card-img">
                <img src="/images/productsImg/<%=result.image%> " alt="imagen de producto">
              </figure>
              <article class="product-card-content">
                <h4><%=result.category%></h4>
                <h2><%=result.name%></h2>
                
                  <h3 id="price">$<%=result.price%></h3>
                  <h3 id="discount">%<%=result.discount%> OFF</h3>
              
                <p><%=result.description%></p>
              </article>
            </a>
          </section>
    <% }) %>
  </div>
</div>        

    <%- include('../partials/footer'); %>
</body>
</html>