<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>

    <section class="container-fluid bgLogin">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-4">
                <form class="form-container" autocomplete="false" action="/users/login" method="POST">
                    <h4>Bienvenid@ a Madly Artsy!</h4>
                    <br/>
                    <br/>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Introduzca su e-mail">
                      <% if (locals.errors && errors.email) {%> 
                        <div><%=errors.email.msg %> </div>
                        <% } %>
                    </div>
                    <br/>
                    <div class="form-group">
                      <label for="">Contraseña</label>
                      <input type="text" class="form-control" id="password" name="password">
                      <% if (locals.errors && errors.password) {%> 
                        <div><%=errors.password.msg %> </div>
                        <% } %>
                    </div>
                    <br/>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" name="user_remember">
                      <label class="form-check-label">Recordame</label>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                  </form>
            </section>
        </section>
    </section>
    
    <%- include('../partials/footer'); %>
</body>
</html>