<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>
    
      <div class="center">
      
        <form class="form-container" autocomplete="false" action="/users/login" method="POST">
          <h4>Bienvenid@ a Madly Artsy!</h4>
          
          <div id="img-user">
          <img src="/images/avatars/imagen-user-1.jpg" alt="login_user">
        </div>

       
          <h6>No estás registrado? <a href="/users/register">Hacelo ahora!</a></h6>
        
        
            
             
                          
                    
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Introduzca su e-mail">
                      <% if (locals.errors && errors.email) {%> 
                        <div><%=errors.email.msg %> </div>
                        <% } %>
                    
                    <br/>
                    
                      <label for="">Contraseña</label>
                      <input type="password" class="form-control" id="password" name="password">
                      <% if (locals.errors && errors.password) {%> 
                        <div><%=errors.password.msg %> </div>
                      <% } %>
                  
                    <br/>
                      <input type="checkbox" class="form-check-input" name="user_remember">
                      <label class="form-check-label">Recordame</label>
                <br/>
            <br/>

           
          <button type="submit" class="btn btn-primary btn-block">Login</button>
          
          <h6><a href="/users/recoverLogin" >No recuerdo mi contraseña</a></h6>
         
        </form>
      </div> 
    
    <%- include('../partials/footer'); %>
</body>
</html>