<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>

    <div class="center">
              <form action="/users/register" method="POST" autocomplete="off" enctype="multipart/form-data" class="form-container">
                    <h4>Unite a Madly Artsy!</h4>

                    <div id="img-user">
                      <img src="/images/imagen-user-1.jpg" alt="login_user">
                    </div>
            
                        <label for="first_name">Nombre de usuario</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Introduzca un nombre de usuario" value="<%=locals.oldData && oldData.first_name %>">
                   
                    <% if (locals.errors && errors.first_name) {%> 
                      <div><%=errors.name.msg %> </div>
                      <% } %>
                    <br/>               

                      <label for="email">Email</label>
                      <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Introduzca su e-mail" value="<%=locals.oldData && oldData.email %>">
                   
                    <% if (locals.errors && errors.email) {%> 
                      <div><%=errors.email.msg %> </div>
                      <% } %>

                    <br/>
                      <label for="">Contraseña</label>
                      <input type="password" id="password" name="password" class="form-control">
                    <br/>

                      <label for="avatar">Imagen</label>
                      <input type="file" name="avatar" class="form-control" id="avatar">
                   
                    <% if (locals.errors && errors.avatar) {%> 
                      <div><%=errors.avatar.msg %> </div>
                      <% } %>

                    <br/>
                    <button type="submit" class="btn btn-primary btn-block">Registrarme</button>
              </form>
            </div>

    <%- include('../partials/footer'); %>
    
</body>
</html>