<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>

    <div class="center">
              <form action="/users/register" method="POST" autocomplete="off" enctype="multipart/form-data" class="form-container">
                    <h4>Unite a Madly Artsy!</h4>

                    <div id="img-user">
                      <img src="/images/avatars/imagen-user-1.jpg" alt="login_user">
                    </div>
            
                    
                        <label for="name">Nombre de usuario</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Introduzca un nombre de usuario" value="<%=locals.oldData && oldData.name %>" required>
                   
                    <% if (locals.errors && errors.name) {%> 
                      <div><%=errors.name.msg %> </div>
                      <% } %>
                    <br/>               

                   
                      <label for="email">Email</label>
                      <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Introduzca su e-mail" value="<%=locals.oldData && oldData.email %>" required>
                   
                    <% if (locals.errors && errors.email) {%> 
                      <div><%=errors.email.msg %> </div>
                      <% } %>
                    <br/>
                    
                    
                      <label for="">Contraseña</label>
                      <input type="password" id="password" name="password" class="form-control" required>
                    
                    <br/>
                    <!-- autocomplete off no funciona (revisar)-->
                    
                    <!-- prueba subir archivo multer -->
                   
                      <label for="image">Imagen</label>
                      <input type="file" name="image" class="form-control" id="image" accept="image/*">
                   
                    <% if (locals.errors && errors.image) {%> 
                      <div><%=errors.image.msg %> </div>
                      <% } %>

                    <br/>
                    <button type="submit" class="btn btn-primary btn-block">Registrarme</button>
              </form>
            </div>

    <%- include('../partials/footer'); %>
    
</body>
</html>